/*  Global Styles  */

body {
  margin: 0;
  padding: 0;
  /* font-family: Roboto, "IranYekanWeb(FaNum)"; */
  font-family: "IranYekanWeb(FaNum)";
  font-size: 1em;
  background: #E0E0E0;
}

h1, h2, h3, h4, h5, h6, p, a, span, ul, li{
  padding: 0;
  margin: 0;
}

ul {
  font-size: 0;
}

li {
  list-style: none;
}

input {
  outline: none !important;
}
