.date-picker {
  width: 300px;
  /* height: 384px; */
  background: #FFFFFF;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  position: absolute;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  overflow: hidden;
  user-select: none;
}

.header {
  border-bottom: 1px solid #EAEAEA;
  display: flex;
  padding: 16px;
  text-align: center;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.header-text {
  flex: 2;
  cursor: pointer;
}

.arrow-prev, .arrow-next {
  width: 24px;
  height: 24px;
  background: green;
  cursor: pointer;
}

.month-days {
  position: relative;
  padding: 0 8px;
}

.day-item {
  width: 43px;
  height: 41px;
  text-align: center;
  line-height: 2.5em;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  border-radius: 50%;
}

.week-row .selected {
  background: #7C4DFF;
  color: #FFFFFF;
}

.week-row .fade {
  opacity: 0.4;
  font-weight: normal;
}

.week-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.week-days {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 8px 8px;
}

.week-days span {
  width: 43px;
  text-align: center;
}

.month-list {
  display: flex;
  flex-flow: row wrap;
  padding: 12px 0;
}

.month-list div {
  flex-grow: 10;
  width: 84px;
  padding: 12px 0;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
  margin: 0 8px;
}

.month-list div:hover {
  color: #7C4DFF;
  background: rgba(124, 77, 255, 0.2);
}

/* .day-item .background-bubble {
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: scale(0.7);
} */

.show-date {
  height: 100%;
  background: #EAEAEA;
  width: 100%;
  cursor: pointer;
  text-align: center;
  line-height: 2.7em;
  color: #7C4DFF;
}